<div class="bike-stop">
  <div class="bike-stop-title">
    {{bikeStop.properties.label}}
  </div>
  <div class="bike-stop-detail-container">
    <div class="bike-stop-detail">
      <img src="assets/svg/bike.svg" class="bike-stop-detail-icon" alt="bike">
      <div class="bike-stop-detail-title">Available bikes</div>
      <div class="number bike-stop-detail-number-bikes" [ngClass]="{'zero': bikeStop.properties.bikes == 0}">{{bikeStop.properties.bikes}}</div>
    </div>
    <div class="bike-stop-detail">
      <img src="assets/svg/padlock.svg" class="bike-stop-detail-icon" alt="padlock">
      <div class="bike-stop-detail-title">Available places</div>
      <div class="number bike-stop-detail-number-places" [ngClass]="{'zero': bikeStop.properties.free_racks == 0}">{{bikeStop.properties.free_racks}}</div>
    </div>
  </div>
</div>
